body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}
.blue-bg {
    display: flex;
    justify-content: center;
    background: peachpuff;
}
.gray-bg {
background: #272427;
width: 100%;
color: white;
padding-top: 15px;
text-align: center;
padding-bottom: 25px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation 2s infinite;
     -moz-animation: flickerAnimation 2s infinite;
     -o-animation: flickerAnimation 2s infinite;
      animation: flickerAnimation 2s infinite;
  }
